workflow/report-send-only.json
{
  "updatedAt": "2026-05-30T09:01:49.143Z",
  "createdAt": "2026-05-30T06:38:13.958Z",
  "name": "文献报告-仅发送(测试)",
  "description": "读取 /data/out 下已生成的 paper md，合并为完整报告，转 HTML，发送到 QQ 邮箱。用于快速验证报告组装+邮件发送（不重跑 MinerU/DeepSeek）。",
  "isArchived": false,
  "nodes": [
    {
      "id": "aa33a56c-91c8-42ee-a670-fde1620d2d1f",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "id": "2ab9322f-38ea-417d-8180-2f809ea425d4",
      "name": "Read All Paper MDs",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/out/*.md"
      }
    },
    {
      "id": "488bfb89-0b70-4526-8c38-63bc5dbc8dc6",
      "name": "Combine Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const NL = String.fromCharCode(10);\nconst items = $input.all();\nconst parts = [];\nfor (let i = 0; i < items.length; i++) {\n  const bin = items[i].binary || {};\n  const key = Object.keys(bin)[0];\n  let txt = \"\";\n  if (key) {\n    try { txt = (await this.helpers.getBinaryDataBuffer(i, key)).toString(\"utf8\"); }\n    catch (e) { txt = Buffer.from(bin[key].data || \"\", \"base64\").toString(\"utf8\"); }\n  }\n  const name = (bin[key] && bin[key].fileName) || (\"paper-\" + i);\n  parts.push({ name: name, txt: txt });\n}\nparts.sort(function(a, b){ return a.name.localeCompare(b.name); });\nconst sep = NL + NL + \"---\" + NL + NL;\nconst header = \"# 文献精读报告\" + NL + NL + \"生成时间：\" + $now.toISO() + NL + NL + \"共 \" + parts.length + \" 篇文献\" + sep;\nconst reportMarkdown = header + parts.map(function(p){ return p.txt; }).join(sep);\n\nfunction esc(s){ return s.split(\"&\").join(\"&amp;\").split(\"<\").join(\"&lt;\").split(\">\").join(\"&gt;\"); }\nfunction boldify(s){ const a = s.split(\"**\"); let r = \"\"; for (let i = 0; i < a.length; i++){ r += (i % 2 === 1) ? (\"<strong>\" + a[i] + \"</strong>\") : a[i]; } return r; }\nconst lines = reportMarkdown.split(NL);\nconst htmlParts = []; let inList = false;\nfunction closeList(){ if (inList) { htmlParts.push(\"</ul>\"); inList = false; } }\nfor (let i = 0; i < lines.length; i++) {\n  const ln = lines[i];\n  const t = ln.trim();\n  if (t.length === 0) { closeList(); continue; }\n  if (ln.charAt(0) === \"<\") { closeList(); htmlParts.push(ln); continue; }\n  if (t === \"---\") { closeList(); htmlParts.push(\"<hr>\"); continue; }\n  if (ln.indexOf(\"### \") === 0) { closeList(); htmlParts.push(\"<h3>\" + boldify(esc(ln.slice(4))) + \"</h3>\"); continue; }\n  if (ln.indexOf(\"## \") === 0) { closeList(); htmlParts.push(\"<h2>\" + boldify(esc(ln.slice(3))) + \"</h2>\"); continue; }\n  if (ln.indexOf(\"# \") === 0) { closeList(); htmlParts.push(\"<h1>\" + boldify(esc(ln.slice(2))) + \"</h1>\"); continue; }\n  if (ln.indexOf(\"- \") === 0 || ln.indexOf(\"* \") === 0) { if (!inList) { htmlParts.push(\"<ul>\"); inList = true; } htmlParts.push(\"<li>\" + boldify(esc(ln.slice(2))) + \"</li>\"); continue; }\n  closeList(); htmlParts.push(\"<p>\" + boldify(esc(ln)) + \"</p>\");\n}\ncloseList();\nconst style = \"<style>body{font-family:-apple-system,'Segoe UI','Microsoft YaHei',sans-serif;max-width:900px;margin:24px auto;padding:0 16px;line-height:1.7;color:#222}img{max-width:100%;height:auto;display:block;margin:10px 0}h1{font-size:24px}h2{font-size:20px;border-bottom:1px solid #eee;padding-bottom:4px}h3{font-size:16px;color:#0a58ca}hr{border:none;border-top:1px solid #ddd;margin:28px 0}</style>\";\nconst htmlReport = '<!doctype html><html><head><meta charset=\"utf-8\">' + style + '</head><body>' + htmlParts.join(NL) + '</body></html>';\nreturn [{ json: { reportMarkdown: reportMarkdown, htmlReport: htmlReport, paperCount: parts.length } }];"
      }
    },
    {
      "id": "94bfefbd-e513-4e15-88bf-b66d2d9b56be",
      "name": "Report HTML To File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        600,
        300
      ],
      "parameters": {
        "operation": "toText",
        "sourceProperty": "htmlReport",
        "binaryPropertyName": "data",
        "options": {
          "dataIsBase64": false,
          "encoding": "utf8",
          "fileName": "文献精读报告.html",
          "mimeType": "text/html"
        }
      }
    },
    {
      "id": "75e1aaa6-993e-42b6-8734-d04040c42ac9",
      "name": "Send To QQ Mail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        800,
        300
      ],
      "parameters": {
        "operation": "send",
        "fromEmail": "={{ $env.QQ_SMTP_USER }}",
        "toEmail": "={{ $env.QQ_MAIL_TO || $env.QQ_SMTP_USER }}",
        "subject": "=文献精读报告 {{ $now.toFormat(\"yyyy-MM-dd HH:mm\") }}",
        "emailFormat": "html",
        "html": "={{ $(\"Combine Report\").item.json.htmlReport }}",
        "options": {
          "attachments": "data",
          "appendAttribution": false
        }
      },
      "credentials": {
        "smtp": {
          "id": "qqsmtpCRED000001",
          "name": "QQ SMTP"
        }
      },
      "webhookId": "3615d302-e568-4d9c-9d6b-e65313b15acd"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Read All Paper MDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Paper MDs": {
      "main": [
        [
          {
            "node": "Combine Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Report": {
      "main": [
        [
          {
            "node": "Report HTML To File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report HTML To File": {
      "main": [
        [
          {
            "node": "Send To QQ Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "activeVersionId": null,
  "versionCounter": 2,
  "versionMetadata": {
    "name": null,
    "description": null
  }
}